{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:unicorn/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "node_modules",
    "dist",
    "jest.config.[jt]s",
    "*.spec.ts",
    "*.test.ts",
    "*.test.tsx",
    "build.[jt]s"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "unicorn/no-array-reduce": "off",
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "replacements": {
          "fn": false,
          "ctx": false,
          "env": false
        }
      }
    ]
  }
}
